<!--<div-->
<!--  [class.hidden]="!isSidebarOpen && isMobile"-->
<!--  [class.md:block]="!isMobile"-->
<!--  class="fixed md:relative w-64 bg-gray-900 text-gray-400 p-5 h-full transform transition-all duration-300 ease-in-out z-20 shadow-lg"-->
<!--&gt;-->
<!--  &lt;!&ndash; Logo &ndash;&gt;-->
<!--  <h1 class="text-xl font-bold mb-8 text-white">Hunter's League</h1>-->

<!--  &lt;!&ndash; Menu Items &ndash;&gt;-->
<!--  <ul class="space-y-2">-->
<!--    &lt;!&ndash; Dashboard &ndash;&gt;-->
<!--    <li class="relative py-2 px-3 rounded-lg transition-all duration-200">-->
<!--      <a class="flex items-center text-gray-400 hover:text-gray-900 rounded-lg p-2 transition-all duration-200 hover:bg-[#a6e3a6]">-->
<!--        <span class="material-icons mr-2 text-[#47a146]">dashboard</span>-->
<!--        Dashboard-->
<!--      </a>-->
<!--    </li>-->

<!--    &lt;!&ndash; Competitions &ndash;&gt;-->
<!--    <li class="relative py-2 px-3 rounded-lg transition-all duration-200">-->
<!--      <div-->
<!--        class="flex items-center justify-between w-full cursor-pointer text-gray-400 hover:text-gray-900 rounded-lg p-2 hover:bg-[#a6e3a6]"-->
<!--        (click)="toggleDropdown('competitions')"-->
<!--      >-->
<!--        <span class="flex items-center">-->
<!--          <span class="material-icons mr-2 text-[#47a146]">event</span>-->
<!--          Competitions-->
<!--        </span>-->
<!--        <span class="material-icons">expand_more</span>-->
<!--      </div>-->
<!--      <ul *ngIf="dropdowns['competitions']" class="mt-2 ml-4 space-y-1">-->
<!--        <li class="flex items-center px-3 py-2 rounded-lg cursor-pointer hover:bg-[#d6f5d6] hover:text-gray-900">-->
<!--          <span class="material-icons text-sm mr-2">add</span>-->
<!--          Create-->
<!--        </li>-->
<!--        <li class="flex items-center px-3 py-2 rounded-lg cursor-pointer hover:bg-[#d6f5d6] hover:text-gray-900">-->
<!--          <span class="material-icons text-sm mr-2">list</span>-->
<!--          List-->
<!--        </li>-->
<!--      </ul>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->
