aside {
  transition: transform 0.3s ease-in-out;
  width: 18rem;
  background-color: #1e293b; /* Dark background */
  color: white;
}

aside a {
  color: white;
}

aside a:hover {
  background-color: #334155;
}

aside h3 {
  color: #94a3b8;
}
