<div class="h-screen flex justify-center items-center bg-gray-100">
  <div class="w-full max-w-sm p-6 bg-white shadow-md rounded-md">
    <h2 class="text-2xl font-semibold mb-4">Register</h2>
    <form (submit)="register()">
      <div class="mb-4">
        <label class="block text-gray-700">Username</label>
        <input [(ngModel)]="user.username" class="w-full p-2 border rounded-md" placeholder="Username" />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Email</label>
        <input [(ngModel)]="user.email" class="w-full p-2 border rounded-md" placeholder="Email" />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Password</label>
        <input type="password" [(ngModel)]="user.password" class="w-full p-2 border rounded-md" placeholder="Password" />
      </div>
      <button type="submit" class="w-full py-2 bg-green-500 text-white rounded-md mb-2">Register</button>
    </form>
    <p class="text-center mt-4">Already have an account?
      <a routerLink="/login" class="text-blue-500">Login here</a>
    </p>
  </div>
</div>
