<!--<div class="bg-white shadow p-4 flex justify-between items-center sticky top-0 z-10">-->
<!--  &lt;!&ndash; Sidebar Toggle &ndash;&gt;-->
<!--  <button class="md:hidden text-gray-600 focus:outline-none" (click)="toggleSidebar.emit()">-->
<!--    <span class="material-icons">menu</span>-->
<!--  </button>-->
<!--  <h2 class="text-xl font-bold">Dashboard Overview</h2>-->

<!--  &lt;!&ndash; Profile Dropdown &ndash;&gt;-->
<!--  <div class="relative">-->
<!--    <div class="relative">-->
<!--      <img-->
<!--        src="assets/images/profile.jfif"-->
<!--        alt="Profile"-->
<!--        class="w-10 h-10 rounded-full cursor-pointer"-->
<!--        (click)="toggleDropdown()"-->
<!--      />-->
<!--    </div>-->
<!--    <div-->
<!--      *ngIf="isDropdownOpen"-->
<!--      class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-2 z-20 border border-gray-200"-->
<!--    >-->
<!--      <a href="/profile" class="flex items-center px-4 py-2 hover:bg-gray-100">-->
<!--        <span class="material-icons mr-2 text-[#47a146]">person</span> Profile-->
<!--      </a>-->
<!--      <a href="/settings" class="flex items-center px-4 py-2 hover:bg-gray-100">-->
<!--        <span class="material-icons mr-2 text-[#47a146]">settings</span> Settings-->
<!--      </a>-->
<!--      <a href="/logout" class="flex items-center px-4 py-2 hover:bg-gray-100 text-red-500">-->
<!--        <span class="material-icons mr-2 text-red-500">logout</span> Logout-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
