
<body class="flex items-center justify-center min-h-screen bg-gray-100">

<!-- Container -->
<div class="p-6 bg-white rounded-lg shadow-lg text-center space-y-4">
  <!-- Title -->
  <h1 class="text-2xl font-bold text-blue-600">{{ title }}</h1>

  <!-- Example Text -->
  <p class="text-lg text-gray-700">Example works!</p>

  <!-- Counter -->
  <div class="flex items-center justify-center space-x-4">
    <button (click)="decrement()" [disabled]="count==0" class="px-4 py-2 bg-red-500 text-white rounded-lg  opacity-50">-</button>
    <span class="text-xl font-semibold" id="counter">{{count}}</span> <!-- Static Value -->
    <button (click)="increment()"  class="px-4 py-2 bg-green-500 text-white rounded-lg opacity-50">+</button>

<!--    @if(count === 0){-->
<!--      <p>this is batman </p>-->
<!--    }-->
<!--    @for (name of names; track name){-->
<!--      <h1>{{name}}</h1>-->
<!--    }-->
<!--    <p *ngIf="count === 10">show</p>-->
<!--    <li *ngFor="let name of names">{{name}}</li>-->

  </div>
</div>

</body>
